<h1 style="text-align: center; color: brown;">Tutorial 16</h1>

<button (click)="handleColor(1)">Green</button>
<button (click)="handleColor(2)">Yellow</button>
<button (click)="handleColor(3)">Blue</button>
<button (click)="handleColor(10)">Red</button>

<input type="text" placeholder="Enter Color Number" (input)="handleInput($event)">
@if(color==1){ 
    <div style="background-color: green; width: 200px;height:200px"></div>
}
@else if (color==2) {
    <div style="background-color: yellow; width: 200px;height:200px"></div>
}
@else if (color==3) {
    <div style="background-color: blue; width: 200px;height:200px"></div>
    
}
@else  {
    <div style="background-color: red; width: 200px;height:200px"></div>
}